
      .cls-1 {
        fill: #d9d9d9;
      }

      .cls-1, .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-19, .cls-20, .cls-21, .cls-22, .cls-23, .cls-25, .cls-26, .cls-27, .cls-28, .cls-29, .cls-3, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34, .cls-35, .cls-36, .cls-38, .cls-39, .cls-4, .cls-40, .cls-41, .cls-42, .cls-43, .cls-44, .cls-45, .cls-46, .cls-47, .cls-48, .cls-49, .cls-5, .cls-50, .cls-51, .cls-52, .cls-6, .cls-7, .cls-8, .cls-9 {
        isolation: isolate;
      }

      .cls-13, .cls-2, .cls-23, .cls-41, .cls-52, .cls-6 {
        fill: none;
      }

      .cls-4 {
        fill: #161616;
      }

      .cls-39, .cls-45, .cls-5 {
        fill: #464a4f;
      }

      .cls-11, .cls-12, .cls-14, .cls-15, .cls-16, .cls-22, .cls-25, .cls-30, .cls-34, .cls-35, .cls-36, .cls-38, .cls-47, .cls-48, .cls-49, .cls-51, .cls-7, .cls-8 {
        fill: #ececec;
      }

      .cls-7 {
        font-size: 40px;
      }

      .cls-10, .cls-11, .cls-14, .cls-20, .cls-22, .cls-30, .cls-32, .cls-34, .cls-35, .cls-36, .cls-38, .cls-48, .cls-51, .cls-7 {
        font-family: Almarai-Regular, Almarai;
      }

      .cls-14, .cls-25, .cls-39, .cls-8 {
        font-size: 16px;
      }

      .cls-25, .cls-27, .cls-8 {
        font-family: OpenSans, Open Sans;
      }

      .cls-8 {
        opacity: 0.7;
      }

      .cls-20, .cls-40, .cls-50, .cls-9 {
        fill: #f10000;
      }

      .cls-10, .cls-26, .cls-27, .cls-31, .cls-32 {
        fill: #0c111b;
      }

      .cls-10, .cls-20, .cls-46, .cls-51 {
        font-size: 20px;
      }

      .cls-11, .cls-34 {
        font-size: 24px;
      }

      .cls-12 {
        font-size: 18px;
        font-family: Almarai-Light, Almarai;
        font-weight: 300;
      }

      .cls-13 {
        stroke: rgba(242,242,242,0.5);
      }

      .cls-16, .cls-24, .cls-30, .cls-45 {
        font-size: 32px;
      }

      .cls-16 {
        font-family: Almarai-Bold, Almarai;
      }

      .cls-16, .cls-31, .cls-45, .cls-47, .cls-49 {
        font-weight: 700;
      }

      .cls-17 {
        fill: url(#pattern);
      }

      .cls-18 {
        fill: url(#pattern-2);
      }

      .cls-19 {
        clip-path: url(#clip-path);
      }

      .cls-20 {
        letter-spacing: 0.002em;
      }

      .cls-21 {
        clip-path: url(#clip-path-2);
      }

      .cls-22 {
        font-size: 64px;
      }

      .cls-23, .cls-52 {
        stroke: #ececec;
      }

      .cls-25, .cls-32, .cls-39, .cls-46, .cls-48 {
        opacity: 0.8;
      }

      .cls-27, .cls-36 {
        font-size: 22px;
      }

      .cls-28 {
        fill: #c4c4c4;
      }

      .cls-29 {
        clip-path: url(#clip-path-5);
      }

      .cls-31, .cls-35, .cls-47 {
        font-size: 48px;
      }

      .cls-31, .cls-45, .cls-47, .cls-49 {
        font-family: OpenSans-Bold, Open Sans;
      }

      .cls-32, .cls-48 {
        font-size: 28px;
      }

      .cls-33 {
        clip-path: url(#clip-path-14);
      }

      .cls-34, .cls-35, .cls-49 {
        stroke: #000;
      }

      .cls-34, .cls-35 {
        stroke-width: 0.25px;
      }

      .cls-37 {
        clip-path: url(#clip-path-19);
      }

      .cls-38 {
        font-size: 96px;
      }

      .cls-39 {
        font-family: Montserrat-SemiBold, Montserrat;
        font-weight: 600;
      }

      .cls-40 {
        stroke: #c4c4c4;
      }

      .cls-41 {
        stroke: rgba(0,0,0,0);
      }

      .cls-42 {
        fill: url(#pattern-3);
      }

      .cls-43 {
        fill: url(#pattern-4);
      }

      .cls-44 {
        fill: url(#pattern-5);
      }

      .cls-46 {
        fill: #25a3bc;
        font-family: Montserrat-Regular, Montserrat;
      }

      .cls-49 {
        stroke-width: 0.5px;
        font-size: 30px;
      }

      .cls-50 {
        opacity: 0.2;
      }

      .cls-52 {
        stroke-linecap: round;
        stroke-width: 4px;
      }

      .cls-53, .cls-54 {
        stroke: none;
      }

      .cls-54 {
        fill: #0c111b;
      }
    

.svg-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  background-color: #121212;
}

.svg-wrapper svg {
  width: 100%;
  height: auto;
}

text {
  max-width: 90%;
  margin: 0 auto;
  display: block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-align: center;
}
